<div class="main-container">
     <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-sharp fa-solid fa-magnifying-glass mt-2"></i></span>
                </div>
                <input type="text" (keyup)="filter($event)" class="form-control" placeholder="Filter">
              </div>
        </div>
        <div class="col-md-4"></div>
     </div>
     <div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-2 notes-list" [@listAnim]>
                <app-note-card *ngFor="let note of filteredNotes; index as i"  (click)="moveTo(i)" (delete)="deleteNote(i)" [@itemAnim] [title]="note.title" [body]="note.body"></app-note-card>
                <button class="btn btn-primary add " routerLink="/new">+ Add</button>
            </div>
            <div class="col-md-4"></div>
        </div>
     </div>
</div>